/*.nav-container{ background: url('../img/nav_bg.jpg') repeat-x 0 0;}*/
.nav-container{ background: #fff;  }
    .f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;} /* this make our menu fixed top */
 
.nav { height: 150px; width:980px; margin: auto; }
    /*.nav ul { list-style: none; }
    .nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
    .nav ul li:first-child{ padding-left: 0;}
    .nav ul li a { }
    .nav ul li a:hover{ text-decoration: underline;}*/
   
